@import "tailwindcss";



@layer utilities {
  .animate-spin-slow {
    animation: spin 3s linear infinite;
  }

  .scrollbar-thin {
    scrollbar-width: thin;
  }
  
  .scrollbar-thumb-gray-600::-webkit-scrollbar-thumb {
    background-color: #4b5563;
    border-radius: 4px;
  }
  
  .scrollbar-track-gray-800::-webkit-scrollbar-track {
    background-color: #1f2937;
  }
  
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
}


.force-white-icon {
  color: black !important;
}

.force-white-icon .anticon {
  color: black !important;
  font-size: 1.25rem !important;
}

.ant-steps-horizontal.ant-steps-label-vertical .ant-steps-item {
  padding-left: 4px !important;
  padding-right: 4px !important;
}

.ant-steps-item-mobile .ant-steps-item-icon {
  margin-right: 0 !important;
}

@media (max-width: 768px) {
  .ant-steps {
    display: flex;
    justify-content: space-between;
  }

  .ant-steps-item {
    flex: 1;
    min-width: auto !important;
    margin-right: 0 !important;
    overflow: visible;
  }

  .ant-steps-item-title {
    display: none;
  }

  .ant-steps-item-tail {
    display: none !important;
  }
}

.steps-responsive-wrapper .ant-steps {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-bottom: 8px;
}
.steps-responsive-wrapper .ant-steps-item {
  flex: 0 0 auto;
  white-space: nowrap;
  margin-right: 8px !important;
}
@media (max-width: 768px) {
  .steps-responsive-wrapper .ant-steps-item-title {
    font-size: 0;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 1px;
  }
}